.articleTitle {
	@apply relative text-xl tablet:text-2xl bg-gray-100 p-4 pb-7 text-gray-900;
}

.articleTitle:before {
	@apply absolute w-full h-full border-2 border-gray-600;
	top: -7px;
	left: -7px;
	content: '';
}
