.about * {
	@apply leading-7;
}

.about {
	@apply p-5 bg-white;
}

.about h1:not(:first-child),
.about h2:not(:first-child),
.about h3:not(:first-child) {
	@apply mt-7;
}

.about p:not(:first-child) {
	@apply mt-7;
}

.about a {
	@apply text-blue-700 hover:text-blue-500;
}

.about ul:not(:first-child) {
	@apply mt-7;
}

/* Bulleted List
------------------------------------　*/
.about ul li {
	@apply relative pl-3;
}

.about ul li:before {
	display: inline-block;
	position: absolute;
	top: 0.8rem;
	left: 0;
	content: '';
	width: 0.4rem;
	height: 0.4rem;
	background: #000;
	border-radius: 50%;
}

.about h1 + *:not(:first-child),
.about h2 + *:not(:first-child),
.about h3 + *:not(:first-child) {
	@apply mt-4;
}
